<%= form_for(@floorplan) do |f| %>
  <% if @floorplan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@floorplan.errors.count, "error") %> prohibited this floorplan from being saved:</h2>

      <ul>
      <% @floorplan.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :created_by %><br>
    <%= f.text_field :created_by %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
  
<h2>Walls</h2>
<%= f.fields_for :walls do |ff| %>
  <div>
    <%= ff.label :x1 %>
    <%= ff.text_field :x1 %>
 
    <% if ff.object.persisted? %>
      <%= ff.check_box :_destroy %>
      <%= ff.label :_destroy, "Destroy" %>
    <% end %>
  </div>
<% end %>
<% end %>
