<p id="notice"><%= notice %></p>

<h1>Listing Floorplans</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Created by</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @floorplans.each do |floorplan| %>
      <tr>
        <td><%= floorplan.name %></td>
        <td><%= floorplan.created_by %></td>
        <td><%= link_to 'Show', floorplan %></td>
        <td><%= link_to 'Edit', edit_floorplan_path(floorplan) %></td>
        <td><%= link_to 'Destroy', floorplan, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Floorplan', new_point_path %>
