<%= form_for(@point) do |f| %>
  <% if @point.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@point.errors.count, "error") %> prohibited this point from being saved:</h2>

      <ul>
      <% @point.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :x %><br>
    <%= f.text_field :x %>
  </div>
  <div class="field">
    <%= f.label :y %><br>
    <%= f.text_field :y %>
  </div>
  <div class="field">
    <%= f.label :z %><br>
    <%= f.text_field :z %>
  </div>
  <div class="field">
    <%= f.label :alpha %><br>
    <%= f.text_field :alpha %>
  </div>
  <div class="field">
    <%= f.label :beta %><br>
    <%= f.text_field :beta %>
  </div>
  <div class="field">
    <%= f.label :gamma %><br>
    <%= f.text_field :gamma %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
