<%= form_for(@wall) do |f| %>
  <% if @wall.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@wall.errors.count, "error") %> prohibited this wall from being saved:</h2>

      <ul>
      <% @wall.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
    <div class="field">
    <%= f.label :x1 %><br>
    <%= f.text_field :x1 %>
  </div>
  <div class="field">
    <%= f.label :y1 %><br>
    <%= f.text_field :y1 %>
  </div>
  <div class="field">
    <%= f.label :x2 %><br>
    <%= f.text_field :x2 %>
  </div>
  <div class="field">
    <%= f.label :y2 %><br>
    <%= f.text_field :y2 %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
